body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(src/fundo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
h1{
    text-align: center;
    color: white;
    font-family: "Caveat";
    font-size: 400%;
    margin-bottom: -10%;
}
div{
       margin: 232px;
    padding: 29px;
    width: 228px;
    
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 40%;
     text-align: center;
     margin-bottom: 25px;
     backdrop-filter: blur(6px);
     color: beige;
}
button{
    border: none;
    border-radius: 10px;
    background-color: lightgreen;
    padding: 7px;
    cursor: pointer;
}